<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DC Gamers <i class="fa fa-gamepad"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right" id="cart">
                    <li>
                        <a href="/shopping-cart/">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                            <span class="badge">{{session.cart.totalQty}}</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{# if login }}
                                <li><a href="/user/profile">User Account</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/user/logout">Logout</a></li>
                                {{ else }}
                                <li><a href="/user/signup">Sign up</a></li>
                                <li><a href="/user/signin">Sign in</a></li>
                                {{/if}}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="sort">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/title_asc">Title (A-Z)</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/title_desc">Title (Z-A)</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/price_asc">Price (Low to High)</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/price_desc">Price (High to Low)</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>
 </nav>
